body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004080;
    color: white;
    padding: 40px;
    text-align: center;
}

main {
    padding: 20px;
}
