<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Meu Portfólio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Olá, sou Gisele Rodrigues</h1>
        <p>Desenvolvedora | Python | Frontend</p>
    </header>
    <main>
        <section>
            <h2>Projetos</h2>
            <ul>
                <li>App de Tarefas com Flask</li>
                <li>Clonagem de site com HTML/CSS</li>
            </ul>
        </section>
    </main>
</body>
</html>
